<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- List of server IPs to monitor -->
		<add key="ServerIPs" 
			 value="192.168.1.33,192.168.1.14,192.168.1.32,192.168.40.70,192.168.40.217,192.168.1.34,192.168.1.89" />
		
	    <!-- Number of ping failures before marking the server as unreachable -->
		<add key="PingLossThreshold" value="8" />

		<!-- Time interval for server checks (in minutes) -->
		<add key="CheckIntervalMinutes" value="4" />

		<!-- SMTP Configuration -->
		<add key="SMTPHost" value="mail.orion-group.net" />
		<add key="SMTPPort" value="587" />
		<add key="SenderEmail" value="samapti.it@orion-group.net" />
		<add key="SenderPassword" value="Abcd@1234" />
		<add key="RecipientEmail" value="mahi.it@orion-group.net" />

		<!-- Email Notification -->
		<add key="EmailSubject" value="Server Down Alert!" />
		<add key="EmailBodyTemplate" value="The server {IP} is unreachable as of {Time}." />
	</appSettings>
</configuration>


